.card {    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 300px;
    padding: 5px;
    margin: 8px;
    background-color: white;
  }
  

.MuiDateCalendar-root {
  background-color: white;
}

  .card:hover {
    cursor: pointer;
  }
  
  .card-container {
    text-align: center;
  }


  .img-service-selection {
    width: 100%;
    height: 80%;
  }

  .service-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }



  .service-cards-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

.cardSelected {    
  box-shadow: 1px 1px 50px 1px rgb(17, 8, 144);
  transition: 0.5s;
}

.agendamento-botao {
  margin-top: 15px;
  text-align: center;
}